@font-face {
    font-family: 'ITC Officina Sans';
    src: url('officinasanitct-book-webfont.eot');
    src: url('officinasanitct-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('officinasanitct-book-webfont.woff2') format('woff2'),
         url('officinasanitct-book-webfont.woff') format('woff'),
         url('officinasanitct-book-webfont.svg#officinasanitctregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ITC Officina Sans';
    src: url('officinasanitct-bookital-webfont.eot');
    src: url('officinasanitct-bookital-webfont.eot?#iefix') format('embedded-opentype'),
         url('officinasanitct-bookital-webfont.woff2') format('woff2'),
         url('officinasanitct-bookital-webfont.woff') format('woff'),
         url('officinasanitct-bookital-webfont.svg#officinasanitctitalic') format('svg');
    font-weight: normal;
    font-style: italic;

}
@font-face {
    font-family: 'ITC Officina Sans';
    src: url('officinasanitct-bold-webfont.eot');
    src: url('officinasanitct-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('officinasanitct-bold-webfont.woff2') format('woff2'),
         url('officinasanitct-bold-webfont.woff') format('woff'),
         url('officinasanitct-bold-webfont.svg#officinasanitctbold') format('svg');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'ITC Officina Sans';
    src: url('officinasanitct-boldital-webfont.eot');
    src: url('officinasanitct-boldital-webfont.eot?#iefix') format('embedded-opentype'),
         url('officinasanitct-boldital-webfont.woff2') format('woff2'),
         url('officinasanitct-boldital-webfont.woff') format('woff'),
         url('officinasanitct-boldital-webfont.svg#officinasanitctbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;

}