// fonts
.fp {font-family: 'Open Sans',sans-serif;} // font primary
.fh {font-family: 'ITC Officina Sans',sans-serif;} // font header
.fi {font-family: 'icons',sans-serif;} // font icon

// body
@bb: #fff; // body background

// colors
@c1: #000;
@c2: #ad363e;
@c3: #ed8800;
@c4: #b34b00;
@c5: #6b6994;
@c6: #f5e5c2;
@cp: @c1; // color primary
@cl: @c2; // color link

// font sizes
@fsp: 14px; // font size primary

// line heights
@lhh: 1.2; // line height header
@lhp: 1.4; // line height primary

// form
@input-size: 14px;
@input-height: 40px;
@input-padding: 15px;
@input-border: #ccc;
@input-bg: #fff;

// layout
@content-width: 1320px;
@content-width-md: 960px;
@content-width-sm: 740px;
@content-width-xs: 100%;
@content-padding: 20px;

// media query >>> @media @xs, @sm
@lg: ~"(min-width: 1340px)";
@md: ~"(min-width: 992px) and (max-width: 1339px)";
@sm: ~"(min-width: 768px) and (max-width: 991px)";
@xs: ~"(max-width: 767px)";
@xxs: ~"(max-width: 479px)";