body {
	background: url(../images/bg/01.jpg) no-repeat;
	background-size: 100% auto;
	background-attachment: fixed;
	@media @xs {
		background: @c6;
	}
}
#page-header {
	position: relative;
	.container {
		@media @xs {
			text-align: center;
		}		
	}
	.logo {
		.fp;
		position: relative;
		z-index: 1;
		float: left;
		width: 190px;
		padding: 0 45px 0 3px;
		margin: 0 0 -40px;
		font-weight: normal;
		font-size: 13px;
		@media @sm, @xs {
			text-align: center;
			margin-bottom: 15px;
		}
		@media @xs {
			.fh;
			display: inline-block;
			float: none;
			width: 280px;
			padding: 0;
			margin: 20px 0;
			text-align: left;
			font-size: 23px;
			font-weight: normal;
			.menu-on & {
				display: none;
			}
		}
		a {
			img {
				.box-shadow(0 0 6px #000);
				display: block;
				@media @sm, @xs {
					margin: 0 auto 10px;
				}
				@media @xs {
					display: inline-block;
					vertical-align: middle;
					margin: 0 20px 0 0;
					width: 100px;
				}
			}
		}
		mark {
			position: absolute;
			bottom: 7px;
			left: 100%;
			white-space: nowrap;
			@media @sm, @xs {
				position: static;
				white-space: normal;
				font-weight: bold;
			}
			@media @xs {
				display: inline-block;
				vertical-align: middle;
				width: 150px;
			}
		}
	}
}
#content-main {
	.clearfix;
	padding: 0 40px;
	background: @c6 url(../images/bg/04.jpg) repeat-y;
	background-size: 100% auto;
	@media @xs {
		padding: 20px;
		margin: 0 -20px;
		border-top: 2px solid @c2;
		background: @c6;
		.menu-on & {
			display: none;
		}
	}
}
#mainmenu {
	background: @c6 url(../images/bg/04.jpg) no-repeat bottom;
	background-size: 100% auto;
	margin: 0 0 20px;
	@media @xs {
		background: @c6;
		display: none;
		.menu-on & {
			display: block;
		}
	}
}
#col-left {
	width: 260px;
	float: left;
	padding: 40px 0;
	@media @md {
		width: 220px;
	}
	@media @sm, @xs {
		width: auto;
		float: none;
	}
	@media @xs {
		display: none;
		.menu-on & {
			display: block;
		}
	}
}
#col-main {
	width: 880px;
	float: right;
	padding: 40px 0;
	@media @md {
		width: 580px;
	}
	@media @sm, @xs {
		width: auto;
		float: none;
		padding-top: 0;
	}
	@media @xs {
		.menu-on & {
			display: none;
		}
	}
}
#col-bottom {
	clear: both;
	position: relative;
	padding: 50px 0 0;
	@media @xs {
		.menu-on & {
			display: none;
		}
	}
	&:before{
		.box-shadow(inset 1px 1px 5px fade(#000,30));
		.border-radius(5px);
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 10px;
	}
}
.menu_open, .menu_close {
	.fh;
	display: none;
	text-transform: uppercase;
	font-size: 21px;
	&:before {
		
	}
}
.menu_open {
	display: none;
	&:before {
		.fi;
		content: '\f0c9';
		font-weight: normal;
		margin: 0 5px 0 0;
	}
	@media @xs {
		display: inline-block;
		vertical-align: bottom;
		.menu-on & {
			display: none;
		}
	}
}
.menu_close {
	display: none;
	float: right;
	margin: 0 -20px 10px 0;
	&:before {
		.fi;
		content: '\e80f';
		font-weight: normal;
		margin: 0 5px 0 0;
	}
	@media @xs {
		.menu-on & {
			display: inline-block;
		}
	}
}
.mod_menu-top {
	display: inline-block;
	vertical-align: top;
	width: 66.6666%;
	margin: 16px -4px 18px 0;
	@media @sm, @xs {
		display: block;
		float: none;
		width: auto;
		margin-right: 0;
	}
	@media @xs {
		clear: both;
		text-align: center;
		display: none;
		.menu-on & {
			display: block;
		}
	}
	ul {
		.rul;
		li {
			.rli;
			display: inline-block;
			text-transform: uppercase;
			font-size: 13px;
			padding: 0 14px 0 0;
			margin: 0 12px 0 0;
			&:last-child {
				padding-right: 0;
				margin-right: 0;
				&:before{
					display: none;
				}
			}
			&:before{
				left: 100%;
				top: 4px;
				bottom: 1px;
				border-left: 1px solid @c1;
			}
			a {
				text-decoration: none;
				color: @c1;
				text-shadow: 0 0 6px #fff;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
.mod_menu-login {
	display: inline-block;
	vertical-align: top;
	width: 33.3333%;
	text-align: right;
	@media @xs {
		width: auto;
		text-align: center;
		margin: 0 0 20px;
		display: none;
		.menu-on & {
			display: block;
		}
	}
	ul {
		.rul;
		li {
			.rli;
			display: inline-block;
			vertical-align: top;
			margin: 0 0 0 4px;
			@media @sm, @xs {
				margin: 0 2px;
			}
			a {
				display: block;
				padding: 5px 16px;
				font-size: 11px;
				text-transform: uppercase;
				text-decoration: none;
				color: @c1;
				background: fade(#fff,70);
				&:hover{
					color: #fff;
					background: @c2;
				}
				&:before{
					display: inline-block;
					text-decoration: none;
					margin: 0 4px 0 -4px;
				}
			}
		}
	}
}
.mod_custom-quickcontact {
	float: left;
	width: 290px;
	padding: 30px 20px 0 0;
	@media @md {
		width: 220px;
	}
	@media @xs {
		float: none;
		width: auto;
		padding: 0;
		margin: 0 0 20px;
		text-align: center;
		.menu-on & {
			display: none;
		}
	}
	.mod-title {
		font-size: 13px;
		@media @xs {
			display: inline-block;
		}
	}
	.phone {
		.fh;
		font-size: 32px;
		line-height: 1;
		font-weight: bold;
		@media @xs {
			font-size: 13px;
			display: inline-block;
		}
	}
}
.mod_search {
	float: left;
	width: 300px;
	padding: 35px 0 0;
	@media @md {
		padding-top: 20px;
		width: 200px;
	}
	@media @xs {
		display: none;
	}
	[type="text"] {
		.placeholder(#000);
		border-color: transparent;
		background: fade(#fff,50);
		float: left;
		margin: 0 -@input-height 0 0;
		&:focus, &:hover {
			border-color: transparent;
			background: fade(#fff,90);
		}
		&:focus {
			.placeholder(transparent);
		}
	}
	button {
		position: relative;
		padding: 0;
		width: @input-height;
		font-size: 0;
		color: @c1;
		background-color: transparent;
		&:before{
			.fi;
			content: '\e80a';
			font-size: 16px;
		}
		&:hover{
			&:before{
				color: @c2;
			}
		}
	}
}
.mod_menu-media {
	float: right;
	margin: 32px 0 0 20px;
	@media @md {
		margin-top: 15px;
	}
	@media @xs {
		float: none;
		display: inline-block;
		margin: 0;
		.menu-on & {
			display: none;
		}
	}
	ul {
		.rul;
		li {
			.rli;
			float: left;
			margin: 0 0 0 10px;
			@media @xs {
				float: none;
				display: inline-block;
				margin: 0 5px;
			}
			a {
				text-decoration: none;
			}
			[class^="icon-"] {
				font-size: 0;
				&:before{
					.border-radius(50%);
					float: left;
					width: 48px;
					height: 48px;
					line-height: 40px;
					padding: 8px 0 0;
					margin: 0;
					color: #fff;
					font-size: 26px;
					background: @c2;
				}
				&.icon-facebook {
					&:before{
						background: #3b5998;
					}
				}
				&:hover{
					&:before{
						color: @c2;
						background: #fff;
					}
				}
			}
		}
	}
}
.mod_custom-basket {
	float: right;
	width: 180px;
	padding: 18px 0 0;
	@media @md {
		padding-top: 0;
	}
	@media @xs {
		clear: both;
		float: none;
		display: inline-block;
		vertical-align: bottom;
		width: auto;
		text-align: center;
		padding: 0;
		.menu-on & {
			display: none;
		}
	}
	.mod-title {
		text-transform: uppercase;
		color: #fff;
		font-size: 12px;
		font-weight: bold;
		margin: 0 0 5px;
		@media @xs {
			color: @c2;
		}
	}
	nav {
		a {
			.fh;
			font-weight: bold;
			display: block;
			text-decoration: none;
			background: @c6;
			font-size: 27px;
			padding: 0 10px;
			@media @xs {
				.btn;
				font-weight: bold;
				font-size: 16px;
				padding: 0 15px;
			}
			&:hover{
				color: #fff;
				background: @c2;
			}
			&:before{
				.fi;
				content: '\e80b';
				color: @c3;
				font-weight: normal;
				font-size: 20px;
				margin: 6px 20px 0 0;
				float: left;
				@media @xs {
					margin: 0 10px 0 0;
				}
			}
		}
	}
}
.mod_menu-main {
	@media @xs {
		background: @c2;
	}
	ul {
		.rul;
		margin: 63px 0 28px;
		display: table;
		width: 100%;
		@media @sm, @xs {
			text-align: center;
			margin: 20px 0 0;
		}
		li {
			.rli;
			.fh;
			display: table-cell;
			font-size: 22px;
			line-height: 1.2;
			text-transform: uppercase;
			font-weight: bold;
			padding: 22px 10px 20px 33px;
			@media @md {
				padding: 10px 20px 10px 20px;
			}
			@media @sm, @xs {
				display: inline-block;
				vertical-align: top;
				margin: 15px 20px;
				padding: 0;
				&:before{
					display: none;
				}
			}
			@media @xs {

			}
			&.act {
				a {
					color: @c1;
				}
			}
			&:before{
				.border-radius(5px);
				.box-shadow(inset 1px 1px 5px fade(#000,30));
				width: 10px;
				bottom: 0;
			}
			a {
				text-decoration: none;
				&:hover{
					color: @c1;
				}
				@media @xs {
					color: #fff;
				}
			}
			small {
				.fp;
				display: block;
				font-weight: normal;
				font-size: 13px;
				text-transform: none;
			}
		}
	}
}
.mod_custom-slideshow {
	position: relative;
	top: -20px;
	margin: 0 0 -20px;
	@media @xs {
		top: 0;
		margin: 20px 0 0;
		.menu-on & {
			display: none;
		}
	}
	.items {
		.item {
			display: none;
			position: relative;
			width: 100%;
			&:nth-child(1) {
				display: block;
			}
			figure {
				img {
					display: block;
				}
				figcaption {
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					color: #fff;
					font-style: italic;
					padding: 30px 20px 20px;
					font-size: 18px;
					background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuNSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
					background: -moz-linear-gradient(left,  rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.1) 100%);
					background: -webkit-linear-gradient(left,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0.1) 100%);
					background: linear-gradient(to right,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0.1) 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a000000', endColorstr='#1a000000',GradientType=1 );
					@media @xs {
						padding: 0 20px;
					}
				}
			}
		}
	}
}
.mod_custom-intro {
	position: relative;
	z-index: 1;
	padding: 40px 0 10px;
	margin: 0 0 -100px;
	font-size: 18px;
	line-height: 1.5;
	background: url(../images/bg/05.png) no-repeat;
	background-size: 100% 100%;
	@media @xs {
		background: none;
		margin: 0;
		padding: 20px 0;
		border-bottom: 2px solid #fff;
		.menu-on & {
			display: none;
		}
	}
	.container {
		text-align: center;
	}
	nav {
		margin: 25px 0 20px;
		font-size: 14px;
		a {
			position: relative;
			display: inline-block;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
			&:before{
				.fi;
				content: '\f006';
				position: absolute;
				left: -18px;
				top: 4px;
				font-size: 15px;
				line-height: 1;
				color: @c1;
			}
		}
	}
}
.mod_custom-recommended {
	padding: 145px 0 0;
	@media @xs {
		padding: 20px 0 0;
	}
	.mod-title {
		.fh;
		color: @c2;
		text-align: center;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 22px;
		line-height: 1.2;
		margin: 0 0 55px;
	}
	.eshop-slider {
		padding: 0 72px;
		@media @xs {
			padding: 0;
		}
	}
}
.eshop-items{
	text-align: center;
	margin: 0 -24px 5px;
	.eshop-slider & {
		margin-left: 0;
		margin-right: 0;
	}
	.item {
		display: inline-block;
		vertical-align: top;
		padding: 0 24px;
		width: 33.3333%;
		margin: 0 -2px 40px;
		text-align: left;
		@media @md, @sm, @xs {
			width: 50%;
		}
		@media @xxs {
			width: 100%;
		}
		.eshop-slider & {
			width: 268px;
			@media @md {
				padding-left: 8px;
				padding-right: 8px;
				width: 236px;
			}
			@media @sm {
				padding-left: 11px;
				padding-right: 11px;
				width: 242px;
			}
		}
		a {
			text-decoration: none;
		}
		.image {
			position: relative;
		}
		figure {
			line-height: 222px;
			height: 262px;
			padding: 16px;
			margin: 0 0 12px;
			text-align: center;
			white-space: nowrap;
			background: #fff;
			border: 2px solid #fff;
			@media @sm  {
				height: 286px;
				line-height: 246px;
			}
			@media @xs {
				height: auto;
				line-height: 1;
			}
			.eshop-slider & {
				line-height: 180px;
				height: 220px;
			}
			&:hover{
				border-color: @c2;
			}
			figure {
				display: inline-block;
				height: 100%;
				vertical-align: middle;
			}
			img {
				vertical-align: middle;
				margin: auto;
				width: auto!important;
				height: auto!important;
				.eshop-slider & {
					max-height: 180px;
					max-width: 180px;
				}
			}
		}
		.labels {
			.label {
				&.cat_01 {
					
				}
				&.cat_02 {
					
				}
			}
		}
		h2 {
			font-size: 18px;
			font-weight: bold;
			text-transform: uppercase;
			margin: 0 10px;
			&:hover{
				text-decoration: underline;
			}
			small {
				.fp;
				text-transform: none;
				display: block;
				font-weight: normal;
				font-size: 12px;
			}
		}
		.description {
			margin: 0 10px 10px;
			font-size: 13px;
		}
		.price {
			.fh;
			color: @c2;
			font-size: 24px;
			font-weight: bold;
			margin: 10px;
			float: left;
		}
		.stock {
			margin: 10px;
			float: right;
			font-weight: bold;
			color: darken(green,10);
		}
	}
}
.eshop-slider {
	position: relative;
	@media @xs {
		width: 268px;
		margin: 0 auto;
	}
	.prev, .next {
		.fi;
		.border-radius(0 37px 37px 0);
		.box-shadow(inset 0 20px 20px fade(#522906,5));
		position: absolute;
		left: -40px;
		top: 35px;
		width: 37px;
		height: 74px;
		line-height: 70px;
		font-size: 20px;
		padding: 4px 8px 0 0;
		text-align: center;
		color: @c1;
		border: 1px solid fade(#522906,5);
		background: fade(#522906,2);
		border-left: none;
		&:hover{
			color: #fff;
			background: @c2;
		}
		&:before{
			content: '\f007';
		}
	}
	.next {
		.border-radius(37px 0 0 37px);
		left: auto;
		right: -40px;
		padding-right: 0;
		padding-left: 12px;
		&:before{
			content: '\f006';
		}
	}
}
.eshop_detail {
	.detail_image {
		float: left;
		width: 45%;
		padding: 0 40px 0 0;
		@media @md, @sm, @xs {
			width: 100%;
			padding: 0;
		}
		img {
			display: block;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
		a {
			&:hover{
				img {
					border-color: @c2;
				}
			}
			img {
				padding: 1px;
				border: 2px solid #fff;
			}
		}
		figure {
			margin: 0 0 10px;
			@media @md, @sm, @xs {
				float: left;
				width: 50%;
			}
			@media @xxs {
				width: 100%;
			}
		}
		.thumbnails {
			.rul;
			margin: 0 -5px;
			@media @md, @sm, @xs {
				float: left;
				width: 50%;
				padding: 0 0 0 10px;
			}
			@media @xxs {
				float: none;
				width: auto;
				padding: 0;
			}
			li {
				.rli;
				display: inline-block;
				vertical-align: middle;
				width: 33.3333%;
				margin: 0 -4px 10px 0;
				padding: 0 5px;
				@media @md, @sm, @xs {
					width: 50%;
				}
				@media @xxs {
					width: 33.3333%;
				}
			}
		}
	}
	.detail_description {
		float: left;
		width: 55%;
		@media @md, @sm, @xs {
			width: 100%;
		}
		.description { 

			p { 

				.more { 
					white-space: nowrap;
					&:after {
						.fi;
						content: '\f006';
						display: inline-block;
						margin: 0 5px;
					}
				}
			}
		}

		.price { 
			.border-radius(10px);
			.box-shadow(inset 0 0 6px fade(#000,30));
			padding: 20px;
			margin: 0 0 30px;
			.availability { 
				float: right;
				font-weight: bold;
				margin: 0 0 20px;
				.text-success { 
					color: green;
				}

				.text-alert { 
					color: darken(orange,10);
				}

				.text-error { 
					color: darken(red,10);
				}
			}

			.items { 

				.item { 
					@media @xxs {
						margin: 0 0 10px;
					}
					.label { 
						display: inline-block;
						vertical-align: middle;
						text-align: right;
						font-size: 12px;
						padding: 0 5px 0 0;
						width: 120px;
						@media @xxs {
							display: block;
							text-align: left;
						}
					}

					.content { 
						.fh;
						display: inline-block;
						vertical-align: middle;
						text-align: right;
						font-size: 14px;
						padding: 0 5px 0 0;
						color: @c2;
						mark { 
							color: @c2;
							font-weight: bold;
						}
					}
					&.item_02 {
						.content {
							font-size: 30px;
						}
					}
				}
			}
		}

		.options { 
			margin: 0 0 20px;
			.items { 
				margin: 0 -10px;
				.item { 
					display: inline-block;
					width: 50%;
					padding: 0 10px;
					margin: 0 -4px 10px 0;
					@media @xxs {
						display: block;
						width: auto;
						margin-right: 0;
					}
					.label { 
						display: inline-block;
						vertical-align: middle;
						width: 33.3333%;
						text-align: right;
						margin: 0 -4px 0 0;
						padding: 0 10px 0 0;
					}

					.content { 
						display: inline-block;
						vertical-align: middle;
						width: 66.6666%;
						select { 

						}
					}
				}
			}
		}

		.basket { 
			text-align: right;
			margin: 0 0 30px;
			input { 
				width: 20%;
				height: 60px;
				width: 60px;
				text-align: center;
			}

			span { 
				display: inline-block;
				vertical-align: middle;
				margin: 0 10px;
			}

			button { 
				height: 60px;
				line-height: 60px;
				text-transform: uppercase;
				font-size: 20px;
				&:before {
					.fi;
					font-weight: normal;
					margin: 0 10px 0 0;
					content: '\e80b';
				}
			}
		}

		.links { 
			margin: 0 0 30px;
			&:before {
				.clear-decor;
				content: '';
				display: block;
				margin: 0 0 20px;
			}
			ul { 
				.rul;
				text-align: right;
				li { 
					display: inline-block;
					margin: 0 0 0 10px;
					font-size: 16px;
					&:before {
						color: @c2;
					}
					a { 
						.fh;
					}
				}
			}
		}
	}
}

.mod_custom_panes {
	clear: both;
	.tabs {
		ul {
			.rul;
			.clearfix;
			border-bottom: 1px solid @c2;
			li {
				.rli;
				float: left;
				margin: 0 5px 0 0;
				min-width: 15%;
				@media @xxs {
					float: none;
					margin: 0;
				}
				&.cycle-pager-active {
					a {
						color: #fff;
						background: @c2;
					}
				}
				a {
					.fh;
					.border-radius(10px 10px 0 0);
					display: block;
					padding: 12px 20px;
					text-transform: uppercase;
					border: 1px solid @c2;
					text-decoration: none;
					font-weight: bold;
					font-size: 18px;
					text-align: center;
					border-bottom: none;
					@media @xxs {
						.border-radius(0px);
					}
				}
			}
		}
	}
	.pane {
		padding: 20px 0;
		&.cycle-slide {
			position: static!important;
			display: none!important;
			&.cycle-slide-active {
				display: block!important;
			}
		}
	}
}
.mod_menu-banner {
	position: relative;
	margin: 0 0 60px;
	&:before{
		.box-shadow(inset 1px 1px 5px fade(#000,30));
		.border-radius(5px);
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 10px;
	}
	ul {
		.rul;
		.clearfix;
		padding: 0 120px;
		@media @md {
			padding: 0;
		}
		@media @sm {
			padding: 0 50px;
		}
		@media @xs {
			padding: 0;
		}
		li {
			.rli;
			float: left;
			width: 50%;
			padding: 40px 0 0 0;
			@media @sm, @xs {
				float: none;
				width: auto;
			}
			&.item_02 {
				a {
					background-image: url(../images/bg/03.png);
					@media @xs {
						background: @c3;
					}
				}
			}
			a {
				position: relative;
				display: block;
				width: 420px;
				height: 140px;
				padding: 38px 100px 0 113px;
				text-decoration: none;
				color: #fff;
				background: url(../images/bg/02.png) no-repeat;
				background-size: cover;
				@media @md {
					width: 370px;
				}
				@media @xs {
					width: auto;
					height: auto;
					padding: 20px;
					background: @c2;
					text-align: center;
				}
				&:hover{
					figure {
						img {
							top: -5px;
							right: -48px;
							width: 152px!important;
							height: 152px!important;
						}
					}
				}
			}
			h2 {
				font-weight: bold;
				text-transform: uppercase;
				font-size: 27px;
				line-height: 1.2;
				margin: 0;
				@media @md {
					font-size: 20px;
				}
				@media @xs {
					margin: 0 0 20px;
				}
				small {
					.fp;
					position: relative;
					text-transform: none;
					font-weight: normal;
					font-size: 14px;
					display: block;
					padding: 12px 0 0 17px;
					&:before{
						.fi;
						content: '\f006';
						position: absolute;
						left: 0;
						top: 13px;
						font-size: 15px;
						line-height: 1;
						@media @xs {
							display: none;
						}
					}
				}
			}
			figure {
				img {
					.border-radius(50%);
					.box-shadow(-5px 0 0 fade(#000,30));
					position: absolute;
					top: 0;
					right: -43px;
					width: 142px!important;
					height: 142px!important;
					@media @xs {
						position: static;
						margin: auto;
					}
				}
			}
		}
	}
}
.mod_newsflash_xart, .mod_custom-service {
	float: left;
	width: 50%;
	padding: 0 20px 0 0;
	margin: 0 0 30px;
	#col-left & {
		float: none;
		width: auto;
		padding-right: 0;
		font-size: 13px;
		@media @sm, @xs {
			display: none;
		}
	}
	@media @sm, @xs {
		width: auto;
		float: none;
		padding-right: 0;
	}
	.mod-title {
		.fh;
		position: relative;
		text-align: center;
		text-transform: uppercase;
		color: @c2;
		font-weight: bold;
		font-size: 22px;
		padding: 0 0 12px;
		margin: 0 0 40px;
		#col-left & {
			text-align: left;
			margin: 0 0 20px;
			padding: 0;
			&:before{
				display: none;
			}
		}
		&:before{
			content: '';
			position: absolute;
			bottom: 0;
			left: 20%;
			right: 20%;
			height: 10px;
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4xIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9yYWRpYWxHcmFkaWVudD4KICA8cmVjdCB4PSItNTAiIHk9Ii01MCIgd2lkdGg9IjEwMSIgaGVpZ2h0PSIxMDEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
			background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 75%);
			background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
			background: radial-gradient(ellipse at center,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a000000', endColorstr='#00000000',GradientType=1 );

			background-position: 0 5px;
			background-repeat: no-repeat;
		}
	}
	.items {
		.item {
			.clearfix;
			margin: 0 0 50px;
			figure {
				float: left;
				width: 26%;
				padding: 0 25px 0 0;
				#col-left &  {
					padding-right: 15px;
				}
				img {
					display: block;
					border: 1px solid #fff;
				}
				a {
					&:hover{
						img {
							border-color: @c2;
						}
					}
				}
			}
			.content {
				float: left;
				width: 74%;
			}
			h2 {
				text-transform: uppercase;
				font-weight: bold;
				font-size: 20px;
				a {
					text-decoration: none;
					&:hover{
						text-decoration: underline;
					}
				}
			}
			nav {
				margin: 27px 0 0;
				a {
					display: inline-block;
					position: relative;
					padding: 0 0 0 17px;
					text-decoration: none;
					&:hover{
						text-decoration: underline;
					}
					&:before{
						.fi;
						content: '\f006';
						position: absolute;
						left: 0;
						top: 3px;
						font-size: 15px;
						line-height: 1;
						color: @c1;
					}
				}
			}
		}
	}
}
.mod_custom-service {
	padding: 0 0 0 20px;	
}
.mod_custom-contact {
	float: left;
	width: 30%;
	padding: 0 0 0 45px;
	margin: 0 0 40px;
	@media @md, @sm {
		float: none;
		width: auto;
		padding-left: 0;
	}
	@media @xs {
		float: none;
		width: auto;
		padding: 0;
	}
	.mod-title {
		.fh;
		color: @c2;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 16px;
		line-height: 1.2;
		margin: 0 0 15px;
	}
	p {
		margin: 0 0 10px;
	}
	.content {
		@media @md, @sm {
			display: inline-block;
			vertical-align: top;
			margin: 0 80px 0 0;
		}
	}
	address {
		font-style: normal;
		margin: 0 0 10px;
	}
	.phone, .email {
		position: relative;
		padding: 0 0 0 20px;
		margin: 0 0 7px;
		color: @c2;
		&:before{
			.fi;
			content: '\e80e';
			position: absolute;
			left: 0;
			top: 0;
		}
	}
	.email {
		&:before{
			content: '\f0e0';
			top: 1px;
		}
	}
	.open {
		@media @md, @sm {
			display: inline-block;
			vertical-align: top;
		}
		.title {
			.fh;
			text-transform: uppercase;
			color: @c2;
			font-weight: bold;
			margin: 10px 0;
			@media @md, @sm {
				margin-top: 0;
			}
		}
	}
}
.mod_breadcrumbs {
	margin: 0 0 20px;
	@media @xs {
		display: none;
	}
	ul {
		.rul;
		li {
			display: inline-block;
			font-size: 13px;
			margin: 0 10px 10px 0;
			color: @c2;
			&:before{
				top: 4px;
			}
			a {
				color: @c1;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
.mod_menu-bottom {
	float: left;
	width: 70%;
	margin: 0 0 5px;
	@media @md, @sm, @xs {
		width: auto;
		float: none;
	}
	&>ul {
		.rul;
		&>li {
			.rli;
			.fh;
			color: @c2;
			font-weight: bold;
			text-transform: uppercase;
			font-size: 16px;
			line-height: 1.2;
			margin: 0 0 15px;
			padding: 0 10% 0 0;
			width: 33.3333%;
			float: left;
			@media @sm {
				padding-right: 20px;
			}
			@media @xs {
				width: auto;
				float: none;
				padding-right: 0;
			}
			a {
				color: @c1;
			}
			ul {
				margin: 7px 0;
				@media @xs {
					margin: 0;
					padding: 0;
				}
				li {
					.fp;
					float: none;
					width: auto;
					font-size: 12px;
					line-height: 1.5;
					font-weight: normal;
					margin: 0 0 10px;
					@media @xs {
						.rli;
						display: inline;
						margin: 0 0 5px 0;
						text-transform: none;
						font-size: 13px;
						&:after {
							content: ' |';
						}
						&:last-child {
							&:after {
								display: none;
							}
						}
					}
					&:before{
						top: 1px;
						font-size: 15px;
						color: @c1;
					}
					a {
						
					}
				}
			}
		}
	}
}
.mod_menu-footer {
	margin: 0 0 20px;
	ul {
		.rul;
		li {
			.rli;
			display: inline-block;
			font-size: 12px;
			margin: 0 10px 0 0;
			a {
				color: @c1;
			}
		}
	}
}
#page-footer {
	.clearfix;
	clear: both;
	margin: 0 -40px;
	padding: 10px 20px;
	background: fade(#000,10);
	@media @xs {
		margin: 0 -20px;
		.menu-on & {
			display: none;
		}
	}
	.copy {
		float: left;
		font-size: 12px;
	}
	.xart {
		float: right;
		font-size: 11px;
		text-transform: uppercase;
		img {
			float: left;
			margin: -2px 5px 0 0;
		}
		a {
			color: @c1;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
	}
}
.mod_menu-sidebar {
	.fh;
	padding: 20px;
	font-size: 16px;
	background: @c6;
	margin: 0 0 30px;
	@media @md, @sm, @xs {
		padding: 0;
		margin: 0;
		font-size: 18px;
		background: none;
	}
	@media @xs {
		display: none;
		.menu-on & {
			display: block;
		}
	}
	ul {
		.rul;
		li {
			line-height: 1.2;
			margin: 10px 0;
			@media @md, @sm, @xs {
				.rli;
				display: inline;
				&:after {
					content: ', ';
				}
				&:last-child {
					&:after {
						content: '';
					}
				}
			}
			a {
				color: @c1;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
			&.act {
				&>a {
					color: @c2;
					font-weight: bold;
				}
			}
			ul {
				@media @md, @sm, @xs  {
					display: inline;
					font-size: 14px;
					&:before {
						content: '(';
					}
					&:after {
						content: ')';
					}
				}
			}
		}
	}
}
#gotop{
	@media @xs {
		display: none;
	}
	a{
		.transition(0.2s);
		.border-radius(50%);
		.box-shadow(-5px 0 0 fade(#000,50));
		position: fixed;
		z-index: 99999;
		bottom: -50px;
		right: 20px;
		height: 50px;
		width: 50px;
		text-indent: -9999px;
		line-height: 50px;
		text-align: center;
		background: @cl;
		color: #fff;
		text-decoration: none;
		&:before{
			.fi;
			position: absolute;
			top:0;
			left: 0;
			width: 100%;
			text-indent: 0;
			content: '\f005';
			font-size: 20px;
		}
		&:hover{
			background: darken(@cl,10%);
		}
	}
	&.on{
		a{
			bottom: 20px;
		}
	}
}