nav.more{
	margin: 20px 0;
	text-align: right;
	a{
		.btn;
		&:after{
			.fi;
			position: relative;
			content: '\203a';
			margin: 0 0 0 10px;
		}
	}
}
table.normal{
	margin: 0 0 20px 0;
	width: 100%;
	th,td{
		padding: 6px 8px;
		border: 1px solid #fff;
		font-weight: normal;
		background: darken(@c6,2);
	}
	&.compact th, &.compact td{
		padding: 2px 8px;
	}
	tr:nth-child(odd) td{
		background: darken(@c6,6);
	}
	th, thead td, thead th{
		font-weight: bold;
		background: darken(@c6,20)!important;
	}
	tfoot td{
		background: darken(@c6,10)!important;
	}
	@media @xs {
		&,thead,tbody,tfoot,tr,td,th {
			display: block;
		}
		th,td {
			border: 0;
			margin: 0 0 1px;
		}
		&.bt thead, &.bt tbody th {
			display: none;
		}
		&.bt tfoot th, &.bt tfoot td, &.bt tbody td {
			vertical-align: top;
			margin: 0 0 1px;
		}

		&.bt tfoot th:before, &.bt tfoot td:before, &.bt tbody td:before {
			content: attr(data-th);
			font-weight: bold;
			margin: -6px 0 -6px -8px;
			padding: 6px 8px;
			width: 40%;
			display: inline-block;
			vertical-align: top;
			word-wrap: break-word;
			color: #fff;
			background: lighten(@c2,0);
		}
		&.bt tfoot th.bt-hide, &.bt tfoot td.bt-hide, &.bt tbody td.bt-hide {
			display: none;
		}
		&.bt tfoot th .bt-content, &.bt tfoot td .bt-content, &.bt tbody td .bt-content {
			vertical-align: top;
			display: inline-block;
			width: 60%;
			padding: 0 0 0 20px;
		}
	}
}
table.info{
	margin:0 0 20px 0;
	td,th{
		padding:0 7px 0 0;
	}
}
form.normal{
	margin:0 0 20px 0;
	label{
		display: block;
		margin: 0 0 10px 0;
		font-weight: bold;
	}
	.optgroup label{
		display: inline-block;
		font-weight: normal;
	}
	.fileinputs{
		position: relative;
		display: block;
		overflow: hidden;
		cursor: default;
		input.type-file{
			position:absolute;
			top: 0;
			right: 0;
			margin: 0;
			padding: 0;
			border: 0;
			width: 100%;
			height: 100%;
			font-size: 999em;
			z-index: 1;
			cursor: default;
			-webkit-opacity: 0;
			-moz-opacity: 0;
			opacity: 0;
			filter: alpha(opacity=0);
		}
		.fakefile {
			.clearfix;
			display: block;
			input[type="button"] {
				position: absolute;
				top: 0;
				right: 0;
			}
		}
	}
}
.search-results .highlight,.results .highlight{
	background: @cl;
	padding: 0 3px;
	color: #fff;
}
.pagehub{
	clear: both;
	text-align: center;
	padding: 20px 0;
	a,span{
		.btn;
		.border-radius(50%);
		padding: 0;
		width: 40px;
		height: 40px;
		line-height: 40px;
		margin: 0 0 5px;
		&.first,&.prev,&.next,&.last {
			width: 50px;
			height: 50px;
			line-height: 50px;
		}
	}
	span.pagenav{
		color: #fff;
		background: @c3;
	}
	span.pagenav-ico{
		cursor: default;
		background: darken(@c6,10%);
	}
}
.clear-decor,.description_separator,.article_separator{
	.box-shadow(inset 1px 1px 5px fade(#000,30));
	.border-radius(5px);
	clear: both;
	margin: 30px 0;
	height: 10px;
}
img.img-left,img[align=left]{
	float: left;
	margin: 0 15px 5px 0;
	@media @xs {
		display: block;
		float: none;
		margin: 10px 0;
	}
}
img.img-right,img[align=right]{
	float: right;
	margin: 0 0 5px 15px;
	@media @xs {
		display: block;
		float: none;
		margin: 10px 0;
	}
}
a.xeditorpopup img{
	.transition(0.2s);
	padding: 1px;
	border: 2px solid lighten(@cp,50%);
}
a.xeditorpopup:hover img{
	border-color: @cl;
}
#system-message dt{
	display:none;
}
#system-message{
	.message{
		position: relative;
		padding: 10px 15px 10px 50px;
		margin: 0 0 15px 0;
		color: #fff;
		background: @c1;
		&:before{
			.fi;
			content: '\e804';
			position: absolute;
			top: 10px;
			left: 0;
			width: 50px;
			text-align: center;
			font-weight: normal;
		}
		ul{
			.rul;
			li{
				.rli;
			}
		}
	}
	.notice{
		background: @c2;
		&:before{
			content: '\e805';
		}
	}
	.warning,.error{
		background: red;
		&:before{
			content: '\e806';
		}
	}
	.error{
		&:before{
			content: '\e807';
		}
	}
}
